@import 'normalize.css';

$main-color: #a3e9a4;
$sub-color: #f8bbd0;

$font-color: #37474f;
$sub-font-color: #90a4ae;

$mobile: 600px;

html {
  font-family: 'Hiragino Maru Gothic ProN', Meiryo, sans-serif;
}

body {
  background: $main-color;
  color: $font-color;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  h1 {
    text-align: center;
  }
}

main {
  border-top: 2px solid $sub-color;
  border-bottom: 2px solid $sub-color;
  background-color: white;
  flex: 1;
  min-width: 980px;

  @media (max-width: $mobile) {
    margin: 0px;
  }

  ul {
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    list-style: none;

    li {
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      width: 80%;

      &:not(:first-child) {
        border-top: 1px solid $sub-font-color;
      }

      a {
        text-decoration: none;
        color: $font-color;
      }
    }
  }
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
